<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">
    <!-- Logo -->
     <a class="pa3 db mr4 h-100 w3 flex-none" href="/"><img alt="Kaldi logo" class="br0 db mb0 w-100" src="/img/logo.svg"></a>
    <!-- Primary Nav -->
    <ul class="flex b grey-3">
      <li>
        <a class="pa3 no-underline db" href="/products">Products</a>
      </li>
      <li>
        <a class="pa3 no-underline db" href="/values">Values</a>
      </li>
      <li>
        <a class="pa3 no-underline db" href="/post">Blog</a>
      </li>
      <li>
        <a class="pa3 no-underline db" href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
  <div id="search-box">
    <!-- SearchBox widget will appear here -->
  </div>

  <div id="refinement-list">
    <!-- RefinementList widget will appear here -->
  </div>

  <div id="hits">
    <!-- Hits widget will appear here -->
  </div>
</body>
</html>
