<div id="search-overlay" class="search-overlay">
	<div class="container">
		<input autocomplete=off id="search" class="search-input" type="search" placeholder="Type to Search">
		<span class="search-bar"></span>
		<span class="esc-note">press <strong>ESC</strong> to close</span>
    <span><a href="https://www.algolia.com/"><img class="search-algolia"
                                                  src="/img/global/search-by-algolia.svg"/></a></span>
		<div id="results" class="search-results">
		</div>
	</div>
</div>
